@model SocialNetwork.Core.Models.Profile

@{
    ViewBag.Title = "Details";
}
<style>
    .profile-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .gallery-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gallery-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        width: 200px;
        height: 100px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
</style>
<div>
    @if (ViewBag.ProfileEmail == Model.Email)
    {
        <h1>Meu Perfil</h1>
        <div class="dl-horizontal">

            <img src="@Html.DisplayFor(model => model.PhotoUrl)" class="profile-image" />

            <h3>
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
            </h3>
            <h3>
                @Html.DisplayFor(model => model.Email)
            </h3>


            <h2>
                @Html.DisplayFor(model => model.BirthDay)
            </h2>

        </div>

        <p>
            @Html.ActionLink("Editar perfil", "Edit", new { id = Model.Id }) |

            @Html.ActionLink("Deletar", "Delete", new { id = Model.Id })
        </p>        
        <h2>Minhas Galerias</h2>
        <div class="gallery-container">
            @foreach (var gallery in Model.Galleries)
            {
                <a class="gallery-box" href="/Gallery/Details/@gallery.Id">@gallery.Name</a>
            }
        </div>
        @Html.ActionLink("Criar nova Galeria de fotos", "CreateGallery", "Gallery")
    }
    else
    {
    <script>
            $(document).ready(function () {
                $('#followButton').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/Follow/FollowProfile/@Model.Id",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            //alert(JSON.stringify(data));
                            console.log(data);
                        } //End of AJAX Success function
                    });
                });

                $('#unfollowButton').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/Follow/DeleteFollow/@Model.Id",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            //alert(JSON.stringify(data));
                            console.log(data);
                        } //End of AJAX Success function
                    });
                });
            });
        </script>
    <h2>@Model.FirstName @Model.LastName</h2>
    <div class="dl-horizontal">
        <img src="@Html.DisplayFor(model => model.PhotoUrl)" class="profile-image" />

        <h3>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </h3>
        @if (ViewBag.Follow == true)
        {
            <a href="" id="unfollowButton" class="btn btn-danger btn-lg">Deixar de seguir</a>
        }
        else
        {
            <a href="" id="followButton" class="btn btn-primary btn-lg">Seguir</a>
        }
        <h3>
            @Html.DisplayFor(model => model.Email)
        </h3>


        <h2>
            @Html.DisplayFor(model => model.BirthDay)
        </h2>

        <h2>Minhas Galerias</h2>
        <div class="gallery-container">
            @foreach (var gallery in Model.Galleries)
            {
                <a class="gallery-box" href="/Gallery/Details/@gallery.Id">@gallery.Name</a>
            }
        </div>

    </div>
    <p>
        @Html.ActionLink("Voltar", "Details", "Profile", new { id = ViewBag.ProfileId }, null)
    </p>
}
</div>
